
/* FONT CSS */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
};

.col {
    border-style: solid;
    border: thin;
    padding: 5px;
}

.footer {
    z-index: -2;
}


